/* Xiaoying Li */
/* CS290 Project */


/* Refer to https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {
    box-sizing: border-box
}

.carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.downloadText {
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
}

.slideText {
    color: white;
    font-size: 30px;
    padding: 10px 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.forward {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: lightgrey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active, .dot:hover {
    background-color: grey;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

.outside-link {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Refer to https://www.w3schools.com/html/html_links_colors.asp */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: darkslategrey;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: lightslategrey;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: darkgrey;
    background-color: transparent;
    text-decoration: underline;
}

/* Refer to https://www.w3schools.com/css/css_navbar.asp */
.menu {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-bottom: 15px;
    overflow: hidden;
    background-color: darkgrey;
}

.current {
    background-color: dimgrey;
}

.page {
    float: left;
}

.page a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.page a:hover {
    background-color: black;
}

/* Refer to https://www.w3schools.com/css/css_overflow.asp */
.scroll-box {
    background-color: white;
    width: 1000px;
    height: 700px;
    position: relative;
    margin: auto;
    border: none;
    overflow: scroll;
}

.scroll-text {
    color: darkslategrey;
    font-size: 20px;
    text-align: center;
}

.list {
    color: darkslategrey;
    text-align: center;
}

.survey {
    width: 1000px;
    position: relative;
    margin: auto;
    border: none;
}